    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div data-ng-controller="candidatescontroller">
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">{{candide.name}}</h1>
        <img id="preview" ng-src="{{imageName}}" width="150px" height="150px" class="img-circle center"></img>
      </div>
    </div>
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Feature</th>
              <th>Rate</th>
            </tr>
          </thead>
          <tbody class="table-striped table-hover">
            <tr>
              <td>Iman</td>
              <td><rating ng-model="candide.subrates.item1" max="7" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['-3','-2','-1', '0', '1', '2', '3']" class="color-yellow"></rating></td>
            </tr>
            <tr>
              <td>Taghva</td>
              <td>
                <rating ng-model="candide.subrates.item2" max="7" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['-3','-2','-1', '0', '1', '2', '3']" class="color-yellow"></rating>
              </td>
            </tr>
            <tr>
              <td>Akhlagh</td>
              <td>
                <rating ng-model="candide.subrates.item3" max="7" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['-3','-2','-1', '0', '1', '2', '3']" class="color-yellow"></rating>
              </td>
            </tr>
            <tr>
              <td>Tokhm</td>
              <td>
                <rating ng-model="candide.subrates.item4" max="7" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['-3','-2','-1', '0', '1', '2', '3']" class="color-yellow"></rating>
              </td>
            </tr>                                
          </tbody>
        </table>
 <!--          <span class="btn btn-default btn-file">
              <input type="file" ngf-select ngf-change="uploadFile($files)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Upload Image
              </input>
          </span> -->
          <a href="#/"><button class="btn btn-danger">Cancel</button></a>
          <button class="btn btn-success" data-ng-click="save()">Submit</button>
<!--           <div class="button" ngf-select="upload($file)">Upload on file select</div>
 --><!--           Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
 -->    
<!--           </div> -->
         <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                  accept="image/*" class="btn btn-primary">
          Select File</button>
          </div>
  