    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Candidates!</h1>
      </div>
    </div>
    <div class="container">
        <table class="table" data-ng-controller="candidatescontroller">
          <thead>
            <tr>
              <th>Name</th>
              <th>Overall Rate</th>
              <th>Action</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="table-striped table-hover">
            <tr>
              <td><input type="text" class="form-control" data-ng-model="newCandidateName"></td>
              <td>&nbsp;</td>
              <td><button class="btn btn-primary" data-ng-click="addCandide()">Add Candidate</button></td>
              <td><button class="btn btn-info" data-ng-click="update()">Update</button></td>
            </tr>
            <tr data-ng-repeat="candidate in candidateList">
              <td><a href="#/candidate/{{$index}}">{{candidate.name}}</a></td>
              <td>
                <rating ng-model="candidate.overAllRate" max="7" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['-3','-2','-1', '0', '1', '2', '3']" class="color-yellow" ></rating>
              </td>
              <td><button class="btn btn-danger" data-ng-click="removeCandide($index)">Remove</button></td>
              <td><button class="btn btn-warning" data-ng-click="editCandide($index)">Edit</button></td>
            </tr>
          </tbody>
        </table>
    </div>