    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">{{candide.name}}</h1>
      </div>
    </div>
    <div class="container">
        <table class="table" data-ng-controller="candidatescontroller">
          <thead>
            <tr>
              <th>Feature</th>
              <th>Rate</th>
            </tr>
          </thead>
          <tbody class="table-striped table-hover">
            <tr>
              <td>Iman</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Taghva</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Akhlagh</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Tokhm</td>
              <td>3</td>
            </tr>                                
          </tbody>
        </table>
    </div>