

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.color-violet {
	color: violet;

}

.color-yellow {
	color: yellow;

}

.glyphicon {
    font-size: 25px;
}

hr {
	background-color: violet;
	height: 2px;
	border: none;

}

.center {
	display: block;
	margin: 0 auto;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 

}












